{% extends "kmailer/email_base.html" %}
{% load kettings_tags static %}


{% block content %}
<table align="center" class="container body-drip float-center bg-light">
    <tbody>
      <tr>
        <td>
          {% include "kmailer/includes/html_table_spacer.html" %}

          <table class="row">
            <tbody>
              <tr>
                <th class="small-12 large-12 columns first last">
                  <table>
                    <tr>
                      <th>
                        {% block content_body %}{% endblock %}
                      </th>
                      <th class="expander"></th>
                    </tr>
                  </table>
                </th>
              </tr>
            </tbody>
          </table>

          {% block content_image %}
            {% include "kmailer/includes/html_table_spacer.html" %}

            {% get_settings workspace.site workspace "core.workspaces.BrandingVForm" "mail_footer_image" as settings %}

            {% with mail_footer_image|default:settings.mail_footer_image as mfi %}
            {% if mfi %}
            <table class="row">
              <tbody>
                <tr>
                  <th class="small-12 large-12 columns first last">
                    <table>
                      <tr>
                        <th>
                          <img src="{% get_media_prefix %}{{ mfi }}" alt="">
                        </th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
            {% endif %}
            {% endwith %}

          {% endblock %}

        </td>
      </tr>
    </tbody>
</table>
{% endblock %}
