{% extends "kmailer/email_base.html" %}

{% block extra_head %}
<style>
	* {
		color: #333;
	}
	#id_content_table{
		background: #fff;
		width: 600px;
	}
	#id_content_header{
		background: #eee;
		padding: 1em;
	}
	#id_content_body{
		padding: 1em;
	}
	#id_content_footer{
		padding: 1em;
	}
	#id_footer_table{
		width: 600px;
		font-size: 12px
	}
</style>
{% endblock %}

{% block content %}
	<table cellpadding="0" cellspacing="0" border="0" align="center" id="id_content_table">
		<tr>
			<td valign="top" align="center" id="id_content_header">
				{% block content_header %}
					<img src="{{ logo_url }}" height="80" />
				{% endblock %}
			</td>
		</tr>
		<tr>
			<td valign="top" id="id_content_body">
				{% block content_body %}{% endblock %}
			</td>
		</tr>
		<tr>
			<td valign="top" id="id_content_footer">
				{% block content_footer %}
					<h5>Foot me</h5>
				{% endblock %}
			</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0" align="center" id="id_footer_table">

		<tr>
			<td valign="top0" align="center" id="id_footer_body">
				{% block footer_body %}
					<p>
					&copy {% now "Y" %} {{ workspace.name }}.<br />
				    {{ contacts }}
					</p>
				{% endblock %}
			</td>
		</tr>

	</table>
{% endblock %}
