
<center data-parsed="">
    {% include "kmailer/includes/html_table_button.html" with url=url text=text %}
    {% if description %}
      <p class="small text-center">{{ description }}</p>
    {% endif %}
</center>
