{% extends 'kmailer/base.html' %}
{% load sekizai_tags %}


{% block right_content %}
{% block content_only %}

    <div class="d-flex mb-3">
        <div class="mr-auto">
            <h5>{{ content_object }}</h5>
        </div>
        <div class="">

        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header py-1">Mail Form</div>

        <div class="card-body">
            <form method="post" action="" id="id_form">
                {% csrf_token %}
                {{ form.as_p }}

                {% if attachments %}
                    <small>Attachments</small>
                    <hr />
                    {% for x in attachments %}
                        <a href="{{ x.content }}">{{ x.filename }}</a>
                        {% if not forloop.last %}
                        &nbsp;|&nbsp;
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-secondary btn-sm " id="id_submit">
                    Send mail</button>

        </div>
    </div>

    
    {% addtoblock "js" %}
    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#id_submit").click(function(e) {
                e.preventDefault()

                bootbox.confirm({
                    message: 'Are you sure you want to proceed? This will send an actual mail to the client?',

                    buttons: {
                        confirm: {
                            label: 'Proceed',
                            className: 'btn-success btn-sm straight-edges'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-default btn-sm straight-edges'
                        }
                    },
                    callback: function (result) {
                        if (result){
                            $('#id_form').submit() 
                        }
                    }
                });

                
            }); 

        });
    </script>
    {% endaddtoblock %} 

{% endblock %}
{% endblock %}


{% block footer %}
    {{ block.super }}

    {{ form.media }}
{% endblock %}